USERS_DATABASE_URL=postgres://postgres:postgres@users-db:5432/users_db
ROOMS_DATABASE_URL=postgres://postgres:postgres@rooms-db:5432/rooms_db
REDIS_URL=redis://redis:6379
JIKAN_BASE_URL=https://api.jikan.moe/v4
